/* ===================================================================
   ! On screen keyboard
   ===================================================================*/

#keyboard {
    background: $dark_bg_color;
}

.keyboard-layout {
    spacing: 8px;
    padding: 8px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    background: $dark_bg_color;
    padding: 16px;
    color: $selected_fg_color;
    font-size: 12pt;
    font-weight: bold;

    &:hover {
        background: $selected_bg_color;
    }

    &:checked,
    &:active {
        background: $selected_bg_color;
    }

    &:grayed {
        background: $bg_color;
        color: $fg_color;
    }
}

.keyboard-subkeys {
    padding: 0;
    -arrow-background-color: #2d2d2d;
    -arrow-border-width: 1px;
    -arrow-border-color: #484848;
    -arrow-border-radius: 2px;
    -arrow-base: 16px;
    -arrow-rise: 8px;
    -boxpointer-gap: 2px;
}
