/* ===================================================================
 * ! OSD
 * ===================================================================*/

.info-osd {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
    padding: 16px;
    color: $disabled_color;
    background: $dark_bg_color;
}

.osd-window {
    spacing: 1em;
    padding: 16px;
    color: $disabled_color;
    background: $dark_bg_color;

    StIcon { color: $fg_color; }

    .level {
        height: 5px;
        color: $selected_bg_color;
    }
}
