/* ===================================================================
 * ! Tile Previews
 * ===================================================================*/

.tile-preview, .tile-hud {
    background-color: alpha(#1e1e1e, .65);

    &.snap { background-color: alpha($selected_bg_color, .8); }
}
