/* ===================================================================
   ! Tooltips
   ===================================================================*/

#Tooltip {
    background: $bg-dark-color;
    padding: 6px 8px;
    color: $text-primary;
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
}
