/* color scheme */
/* ===================================================================
   ! Font
   ===================================================================*/
stage {
  font-family: DejaVu Sans Condensed, Sans-Serif;
  font-size: 9pt;
}

.cinnamon-link {
  color: #4a829f;
  font-weight: normal;
  text-decoration: underline;
}

.cinnamon-link:hover {
  color: #659bb7;
}

.label-shadow {
  color: transparent;
}

/* ===================================================================
   ! Tooltips
   ===================================================================*/
#Tooltip {
  background: #f5f5f5;
  border: #353a46;
  padding: 6px 8px;
  color: #2d2d2d;
  font-size: 8pt;
  font-weight: normal;
  text-align: center;
}

/* ===================================================================
   ! Scrollbars
   ===================================================================*/
StScrollView.vfade {
  -st-vfade-offset: 0;
}

StScrollView.hfade {
  -st-hfade-offset: 0;
}

StScrollBar {
  padding: 3px;
  padding-right: 6px;
  min-width: 8px;
  min-height: 16px;
}

StScrollBar StBin#trough {
  background-color: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  background: #353a46;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active,
StScrollBar StButton#vhandle:focus,
StScrollBar StButton#hhandle:focus {
  background: #4a829f;
}

/* ===================================================================
   ! Entries
   ===================================================================*/
.popup-menu StEntry,
.modal-dialog StEntry,
#notification StEntry {
  background: #f5f5f5;
  border: 1px solid #353a46;
  padding: 5px 12px 4px 12px;
  height: 22px;
  width: 220px;
  font-size: 9pt;
  font-weight: normal;
  color: #9e9e9e;
}

.popup-menu StEntry StIcon,
.modal-dialog StEntry StIcon,
#notification StEntry StIcon {
  color: #9e9e9e;
}

.popup-menu StEntry:focus,
.modal-dialog StEntry:focus,
#notification StEntry:focus {
  background: #f5f5f5;
  font-size: 10pt;
  font-weight: normal;
  color: #2d2d2d;
  caret-color: #2d2d2d;
  caret-size: 1px;
  selected-color: #f5f5f5;
  selection-background-color: #4a829f;
}

.popup-menu StEntry:focus StIcon,
.modal-dialog StEntry:focus StIcon,
#notification StEntry:focus StIcon {
  color: #4a829f;
}

/* ===================================================================
   ! Switchers
   ===================================================================*/
.toggle-switch {
  width: 28px;
  height: 14px;
  background-size: contain;
}

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("widget-assets/off.svg");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("widget-assets/on.svg");
}

/* ===================================================================
   ! Checkboxes + Radio buttons
   ===================================================================*/
.check-box CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}

.check-box StLabel {
  padding-top: 1px;
}

.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("widget-assets/check-box.svg");
}

.check-box:focus StBin {
  background-image: url("widget-assets/check-box-focused.svg");
}

.check-box:checked StBin {
  background-image: url("widget-assets/check-box-checked.svg");
}

.check-box:focus:checked {
  background-image: url("widget-assets/check-box-focused-checked.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}

.radiobutton StLabel {
  padding-top: 1px;
}

.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("widget-assets/radiobutton.svg");
}

.radiobutton:focus StBin {
  background-image: url("widget-assets/radiobutton-focused.svg");
}

.radiobutton:checked StBin {
  background-image: url("widget-assets/radiobutton-checked.svg");
}

.radiobutton:focus:checked {
  background-image: url("widget-assets/radiobutton-focused-checked.svg");
}

/* ===================================================================
   ! Buttons
   ===================================================================*/
/* --- normal buttons ---*/
.modal-dialog-button,
.notification-button,
.notification-icon-button {
  background: #353a46;
  padding: 9px;
  padding-right: 32px;
  padding-left: 32px;
  -st-natural-width: 80px;
  font-weight: bold;
  color: #2d2d2d;
}

.modal-dialog-button:hover,
.notification-button:hover,
.notification-icon-button:hover {
  background: #4a829f;
}

.modal-dialog-button:focus,
.notification-button:focus,
.notification-icon-button:focus {
  background: #4a829f;
  color: #f5f5f5;
}

.modal-dialog-button:active,
.modal-dialog-button:pressed,
.notification-button:active,
.notification-button:pressed,
.notification-icon-button:active, .notification-icon-button:pressed {
  background: #4a829f;
}

.modal-dialog-button:focus:hover,
.notification-button:focus:hover,
.notification-icon-button:focus:hover {
  background: #4a829f;
  color: #f5f5f5;
}

.modal-dialog-button:focus:active,
.modal-dialog-button:focus:pressed,
.notification-button:focus:active,
.notification-button:focus:pressed,
.notification-icon-button:focus:active, .notification-icon-button:focus:pressed {
  background: #4a829f;
  color: #f5f5f5;
}

.modal-dialog-button:disabled,
.notification-button:disabled,
.notification-icon-button:disabled {
  background: #f5f5f5;
  color: #9e9e9e;
}

/* ===================================================================
   ! Popup Menus
   ===================================================================*/
.popup-menu {
  min-width: 100px;
  border: 1px solid #353a46;
}

.popup-menu-boxpointer {
  padding: 0;
  -arrow-background-color: #f5f5f5;
  -arrow-border-width: 0;
  -arrow-base: 0px;
  -arrow-rise: 0px;
  -boxpointer-gap: 1px;
}

.popup-menu-content {
  background: #f5f5f5;
  padding: .7em 0;
  color: #4a829f;
}

.popup-menu-icon, .popup-menu StIcon {
  icon-size: 16px;
  color: #2d2d2d;
}

.popup-menu-item {
  padding: 0.4em 1.3em;
  spacing: .8em;
}

.popup-menu-item:active {
  background: #4a829f;
  color: #f5f5f5;
}

.popup-menu-item:active .popup-menu-icon, .popup-menu-item:active StIcon {
  color: #f5f5f5;
}

.popup-menu-item:insensitive {
  font-weight: normal;
  color: #9e9e9e;
}

.popup-menu-item-dot {
  /*!*/
}

.popup-sub-menu {
  background: #f5f5f5;
  box-shadow: none;
  background-gradient-direction: none;
  padding: 12px 0;
  color: #2d2d2d;
}

.popup-sub-menu .popup-menu-item {
  padding-left: 2.1em;
}

.popup-sub-menu .popup-menu-item:active {
  background: #4a829f;
  color: #f5f5f5;
}

.popup-submenu-menu-item:open {
  background-color: #659bb7;
  color: #f5f5f5;
}

.popup-combo-menu {
  background: #f5f5f5;
  padding: 0.8em 0.2em;
  color: #2d2d2d;
}

.popup-separator-menu-item {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
}

.popup-slider-menu-item {
  -slider-height: 2px;
  -slider-background-color: #353a46;
  -slider-border-color: transparent;
  -slider-active-background-color: #4a829f;
  -slider-active-border-color: #353a46;
  -slider-border-width: 2px;
  -slider-handle-radius: 4px;
  color: #9e9e9e;
  border: 0 solid transparent;
  min-width: 15em;
  height: 16px;
}

.popup-menu-item:active .popup-slider-menu-item {
  -slider-handle-radius: 5px;
  color: #f5f5f5;
}

.popup-inactive-menu-item {
  color: #9e9e9e;
}

/* ===================================================================
   ! Panel
   ===================================================================*/
.panel-top, .panel-bottom {
  background: #353a46;
  font-size: 9pt;
  height: 25px;
}

.panel-top:highlight, .panel-bottom:highlight {
  background: #4a829f;
}

.panel-top #panelLeft:dnd, .panel-bottom #panelLeft:dnd {
  border-image: url("panel-assets/DND-panel-left.svg") 4;
}

.panel-top #panelCenter:dnd, .panel-bottom #panelCenter:dnd {
  border-image: url("panel-assets/DND-panel-center.svg") 4;
}

.panel-top #panelRight:dnd, .panel-bottom #panelRight:dnd {
  border-image: url("panel-assets/DND-panel-right.svg") 4;
}

.panel-dummy {
  background-color: rgba(74, 130, 159, 0.8);
}

.panel-dummy:entered {
  background-color: #4a829f;
}

/* This styles the systray items */
.panel-status-button {
  -natural-hpadding: 4px;
  -minimum-hpadding: 4px;
  padding: 0 2px;
  font-weight: bold;
  color: #f5f5f5;
  height: 25px;
}

.panel-top .panel-status-button:hover {
  background: #4a829f;
}

.panel-bottom .panel-status-button:hover {
  background: #4a829f;
}

.system-status-icon {
  icon-size: 16px;
  padding-left: 0;
  padding-right: 0;
  spacing: 0;
  margin: 0;
}

/* Items in the bottom panel are shifted down by 1px.
   This fixes it. */
.panel-bottom .system-status-icon,
.panel-bottom #appMenuIcon {
  padding-top: 1px;
}

#iconLabelButton {
  color: #f5f5f5;
  padding: 0;
}

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: #f5f5f5;
}

.panel-button #appMenuIcon,
.panel-button:active > #appMenuIcon,
.panel-button:checked > #appMenuIcon,
.panel-button:focus > #appMenuIcon {
  app-icon-bottom-clip: 0;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
  icon-shadow: transparent 0;
}

/* ===================================================================
   ! Expo view
   ===================================================================*/
.expo-background {
  background-color: rgba(34, 34, 34, 0.85);
  background-repeat: repeat;
}

.expo-workspace-thumbnail-frame {
  border: 5px transparent;
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}

.expo-workspace-thumbnail-frame#active {
  border: 5px transparent;
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}

.workspace-thumbnails {
  spacing: 26px;
  padding-left: 10px;
  padding-right: 9px;
}

/* This shades the workspace thumbnails */
.workspace-thumbnails .workspace-overview-background-shade {
  background-color: transparent;
}

.expo-workspaces-name-entry {
  background: #353a46;
  height: 15px;
  padding: 10px 12px;
  text-align: center;
  font-weight: bold;
  color: #9e9e9e;
}

.expo-workspaces-name-entry#selected {
  background: #4a829f;
  color: #f5f5f5;
}

.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
  background: #4a829f;
  color: #4a829f;
  selected-color: #2d2d2d;
  caret-color: #2d2d2d;
  caret-size: 1px;
  selection-background-color: #4a829f;
}

.workspace-close-button {
  background-image: url("widget-assets/close.svg");
  height: 41px;
  width: 41px;
  -cinnamon-close-overlap: 28px;
}

.workspace-add-button {
  background: #353a46;
  background-image: url("expo-scale-assets/plus.svg");
  background-size: 25px 24px;
  height: 200px;
  width: 35px;
}

.workspace-add-button:hover {
  background-image: url("expo-scale-assets/plus-hover.svg");
}

.window-close-area {
  border-image: url("expo-scale-assets/workspace-close-area-bg.svg") 9;
  background-image: url("expo-scale-assets/trash.svg");
  height: 100px;
  width: 350px;
}

.workspace-osd {
  background: #353a46;
  padding: 12px 17px;
  color: #2d2d2d;
  font-weight: bold;
  font-size: 20pt;
}

/* ===================================================================
   ! Scale
   ===================================================================*/
/* The background for the scale view */
.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.65);
}

.window-caption {
  background: #353a46;
  color: #2d2d2d;
  font-size: 9pt;
  font-weight: bold;
  padding: 6px 8px;
  spacing: 25px;
  -cinnamon-caption-spacing: 10px;
}

.window-caption#selected {
  background: #4a829f;
  color: #f5f5f5;
}

.window-close {
  background-image: url("widget-assets/close.svg");
  height: 41px;
  width: 41px;
  -cinnamon-close-overlap: 22px;
}

/* ===================================================================
   ! Desklets
   ===================================================================*/
.desklet {
  color: #2d2d2d;
}

.desklet-with-borders {
  background: #353a46;
  color: #2d2d2d;
  font-weight: bold;
  padding: 5px;
}

.desklet-with-borders-and-header {
  background: #353a46;
  color: #2d2d2d;
  padding: 5px;
}

.desklet-header {
  background: #353a46;
  font-size: 10pt;
  font-weight: bold;
  text-shadow: none;
  color: #2d2d2d;
  padding: 8px 5px;
}

.desklet-drag-placeholder {
  border: 0 solid transparent;
  border-radius: 0;
  background: none;
}

/* ===================================================================
   ! Clock
   ===================================================================*/
.clock-desklet-label {
  font-weight: bold;
  padding: 10px;
}

/* ===================================================================
   ! Photoframe
   ===================================================================*/
.photoframe-box {
  background: #353a46;
  padding: 3px;
}

/* ===================================================================
   ! Xkcd
   ===================================================================*/
.xkcd-box {
  padding: 0;
  border: 0 transparent;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
}

/* ===================================================================
   ! Notifications
   ===================================================================*/
#notification {
  background: #353a46;
  padding: 16px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 0px;
  opacity: 255px;
  mouseover-opacity: 255px;
  width: 34em;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5f5;
}

#notification.multi-line-notification {
  padding: 16px;
  color: #f5f5f5;
}

#notification-scrollview {
  max-height: 100em;
}

#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow {
  height: 10em;
}

#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}

#notification-body {
  font-weight: normal;
  font-size: 9pt;
  spacing: 5px;
  padding: 12px;
}

#notification-actions {
  spacing: 10px;
}

.notification-with-image {
  min-height: 159px;
}

/* ===================================================================
   ! Notification applet
   ===================================================================*/
.notification-applet-padding {
  padding: 0.6em 0.4em;
}

.notification-applet-padding:first-child {
  padding-top: 1.3em;
}

.notification-applet-padding:last-child {
  padding-bottom: .5em;
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content #notification {
  background: #4a829f;
  padding: 12px;
}

/* ===================================================================
   ! Alt Tab
   ===================================================================*/
#altTabPopup {
  padding: 8px;
  spacing: 1px;
}

.switcher-list {
  background: #353a46;
  color: #9e9e9e;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
}

.switcher-list .item-box {
  padding: 10px;
}

.switcher-list .item-box:selected {
  background: #4a829f;
  color: #f5f5f5;
}

.switcher-list-item-container {
  spacing: 0;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .separator {
  /*!*/
}

.switcher-arrow,
.switcher-arrow:highlighted,
.switcher-preview-backdrop {
  border-color: transparent;
  color: transparent;
}

/* ===================================================================
  ! Lightbox + flashspot
   ===================================================================*/
/* The background shade when a dialog appears */
.lightbox {
  background-color: rgba(0, 0, 0, 0.65);
}

/* Among other places, appears when adding an applet */
.flashspot {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ===================================================================
   ! Modal dialogs
   ===================================================================*/
.modal-dialog {
  background: #353a46;
  border-radius: 0;
  padding: 0;
  color: #f5f5f5;
}

.modal-dialog > * {
  padding: 24px;
  border-radius: 0;
}

.modal-dialog > .modal-dialog-button-box {
  spacing: 0;
  margin: 0;
  padding: 5px 8px 6px 8px;
}

/* ===================================================================
   ! Run dialog
   ===================================================================*/
.run-dialog > * {
  background: #353a46;
  padding: 12px;
}

.run-dialog > .modal-dialog-button-box {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  height: 0;
}

.run-dialog-error-box {
  padding: 10px 2px 2px 2px;
  spacing: 5px;
}

.run-dialog-completion-box {
  font-size: 10px;
}

.run-dialog-label {
  font-size: 0;
}

.run-dialog-entry {
  /*!*/
}

/* ===================================================================
   ! About Dialog
   ===================================================================*/
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
}

.about-title {
  font-size: 2em;
  font-weight: bold;
}

.about-uuid {
  font-size: 10px;
  color: #9e9e9e;
}

.about-description {
  padding-top: 6px;
  padding-bottom: 8px;
}

.about-version {
  padding-left: 7px;
  font-size: 10px;
  color: #9e9e9e;
}

.about-icon {
  padding-right: 20px;
  padding-bottom: 14px;
  color: #2d2d2d;
}

.about-scrollBox {
  background: #353a46;
  padding: 4px;
  padding-right: 0;
  border-radius: 0;
}

.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}

/* ===================================================================
   ! Looking Glass dialog
   ===================================================================*/
#LookingGlassDialog {
  background: #353a46;
  padding: 14px;
  color: #9e9e9e;
}

/* ===================================================================
   ! On screen keyboard
   ===================================================================*/
#keyboard {
  background: #353a46;
}

.keyboard-layout {
  spacing: 8px;
  padding: 8px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  background: #353a46;
  padding: 16px;
  color: #f5f5f5;
  font-size: 12pt;
  font-weight: bold;
}

.keyboard-key:hover {
  background: #4a829f;
}

.keyboard-key:checked,
.keyboard-key:active {
  background: #4a829f;
}

.keyboard-key:grayed {
  background: #f5f5f5;
  color: #2d2d2d;
}

.keyboard-subkeys {
  padding: 0;
  -arrow-background-color: #2d2d2d;
  -arrow-border-width: 1px;
  -arrow-border-color: #484848;
  -arrow-border-radius: 2px;
  -arrow-base: 16px;
  -arrow-rise: 8px;
  -boxpointer-gap: 2px;
}

/* ===================================================================
   ! Applets
   ===================================================================*/
.applet-separator {
  background-color: #353a46;
  width: 9px;
  padding: 0;
}

.applet-separator-line {
  /*!*/
}

.applet-label {
  font-weight: bold;
  color: #dcdcdc;
}

.applet-icon {
  icon-size: 16px;
}

.applet-box {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  color: #dcdcdc;
}

.panel-top .applet-box:hover,
.panel-bottom .applet-box:hover {
  background: #4a829f;
}

/* ===================================================================
   ! Calendar
   ===================================================================*/
.calendar {
  padding: 0.6em 1.3em;
  padding-top: .7em;
  spacing-rows: 2px;
  spacing-columns: 2px;
}

.datemenu-date-label {
  background: #f5f5f5;
  padding: 0.6em 0 0.6em 0;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  color: #2d2d2d;
}

.calendar-month-label {
  padding-top: 2px;
  font-size: 8pt;
  font-weight: bold;
  color: #4a829f;
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
  background-image: url("widget-assets/calendar-arrow-left.svg");
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
  background-image: url("widget-assets/calendar-arrow-right.svg");
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.calendar-change-month-back:hover {
  background-image: url("widget-assets/calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward:hover {
  background-image: url("widget-assets/calendar-arrow-right-hover.svg");
}

.calendar-day-base {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  width: 4em;
  height: 2.7em;
}

.calendar-day-heading {
  font-size: 9pt;
  color: #2d2d2d;
  padding-top: 9px;
  padding-bottom: 6px;
  height: 1.5em;
}

.calendar-work-day {
  background: #353a46;
  border: none;
  color: #9e9e9e;
}

.calendar-nonwork-day {
  background: #353a46;
  border: none;
  color: #9e9e9e;
}

.calendar-today {
  background: #4a829f;
  color: #f5f5f5;
  font-weight: bold;
}

.calendar-other-month-day {
  background: #f5f5f5;
  color: #2d2d2d;
  font-weight: normal;
}

.calendar-week-number {
  color: #9e9e9e;
  font-size: 8pt;
  font-weight: normal;
  height: 1.6em;
  width: 1.2em;
  padding-top: 8px;
  padding-right: 6px;
}

/* ===================================================================
   ! Window list
   ===================================================================*/
.window-list-box {
  spacing: 3px;
  padding-left: 0;
}

.window-list-item-label {
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  color: #9e9e9e;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

/* Different images used in top & bottom panels. */
.panel-top .window-list-item-box:hover, .panel-bottom .window-list-item-box:hover {
  background: #353a46;
  color: #f5f5f5;
}

.panel-top .window-list-item-box:active,
.panel-top .window-list-item-box:checked,
.panel-top .window-list-item-box:focus, .panel-bottom .window-list-item-box:active,
.panel-bottom .window-list-item-box:checked,
.panel-bottom .window-list-item-box:focus {
  background: #4a829f;
  color: #f5f5f5;
}

.panel-top .window-list-item-box:checked:hover,
.panel-top .window-list-item-box:focus:hover,
.panel-top .window-list-item-box:active:hover, .panel-bottom .window-list-item-box:checked:hover,
.panel-bottom .window-list-item-box:focus:hover,
.panel-bottom .window-list-item-box:active:hover {
  color: #2d2d2d;
}

.panel-top .window-list-item-demands-attention, .panel-bottom .window-list-item-demands-attention {
  background: #ef5350;
}

.panel-top .window-list-item-demands-attention:hover, .panel-bottom .window-list-item-demands-attention:hover {
  background: #f44336;
}

/* ===================================================================
   ! Sound Applet
   ===================================================================*/
.sound-button {
  background: #353a46;
  width: 22px;
  height: 22px;
  padding: 8px;
}

.sound-button:hover {
  background: #4a829f;
}

.sound-button:active {
  background: #4a829f;
}

.sound-button StIcon {
  icon-size: 16px;
  color: #2d2d2d;
}

.sound-button-container {
  padding-right: 1px;
  padding-left: 1px;
}

.sound-track-infos {
  padding: 5px;
  padding-left: 15px;
}

.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sound-track-info StIcon {
  icon-size: 16px;
  color: #2d2d2d;
}

.sound-track-info StLabel {
  padding-left: 5px;
  padding-right: 5px;
}

.sound-track-box {
  max-width: 220px;
}

.sound-track-cover {
  background: #f5f5f5;
  padding: 20px;
}

.sound-seek-box {
  padding-left: 15px;
}

.sound-seek-box StLabel {
  padding-top: 3px;
}

.sound-seek-box StIcon {
  icon-size: 16px;
  color: #2d2d2d;
}

.sound-seek-slider {
  width: 170px;
}

.sound-volume-menu-item {
  padding: 0.4em 1.3em;
}

.sound-volume-menu-item StIcon {
  icon-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  color: #2d2d2d;
}

.sound-playback-control {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* ===================================================================
     ! Workspace Switcher
     ===================================================================*/
#workspaceSwitcher {
  spacing: 0;
}

.workspace-button {
  padding-left: 8px;
  padding-right: 8px;
  color: #9e9e9e;
  font-weight: bold;
}

/* Different images used in top & bottom panels. */
.panel-top .workspace-button:outlined, .panel-bottom .workspace-button:outlined {
  background: #4a829f;
  color: #f5f5f5;
}

.panel-top .workspace-button:hover, .panel-bottom .workspace-button:hover {
  background: #4a829f;
  color: #2d2d2d;
}

.panel-top .workspace-button:outlined:hover, .panel-bottom .workspace-button:outlined:hover {
  background: #4a829f;
}

/* Items in the bottom panel are shifted by 1px down.
     This fixes it for this applet specifically.
     The global fix is in the panel module */
.panel-bottom .workspace-button {
  padding-top: 1px;
}

/* ===================================================================
   ! Panel Launchers Applet (panelLaunchers.js)
   ===================================================================*/
.panel-launcher {
  margin: 0;
  padding: 0 4px;
}

.panel-top .panel-launcher:hover, .panel-bottom .panel-launcher:hover {
  background: #4a829f;
}

/* ===================================================================
   ! User Applet
   ===================================================================*/
.user-box {
  padding: 0.8em 1.3em;
  spacing: 10px;
  background: #353a46;
}

.user-icon {
  width: 32px;
  height: 32px;
  background: #4a829f;
  border: none;
  border-radius: 0;
}

.user-label {
  color: #f5f5f5;
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
}

/* ===================================================================
   ! Menu applet
   ===================================================================*/
/* Favourites */
.menu-favorites-box {
  background: #f5f5f5;
  border: 1px solid #353a46;
}

.menu-favorites-button {
  padding: 10px 12px;
}

.menu-favorites-button:hover {
  background: #4a829f;
  color: #f5f5f5;
}

/* Places */
.menu-places-box {
  margin: auto;
  padding: 8px;
}

.menu-places-button {
  padding: 10px;
}

/* Categories */
.menu-categories-box {
  padding: 10px 30px;
}

.menu-category-button {
  padding: 7px;
}

.menu-category-button-greyed {
  padding: 7px;
  color: #9e9e9e;
  font-style: normal;
}

.menu-category-button-selected {
  padding: 7px;
  background: #4a829f;
  color: #f5f5f5;
}

.menu-category-button-label:ltr {
  padding-left: 5px;
}

.menu-category-button-label:rtl {
  padding-right: 5px;
}

/* Applications */
.menu-applications-inner-box,
.menu-applications-outer-box {
  padding: 10px;
  padding-bottom: 0;
}

.menu-application-button {
  padding: 7px;
  max-width: 10px;
}

.menu-application-button-selected {
  padding: 7px;
  background: #4a829f;
  color: #f5f5f5;
}

.menu-application-button:highlighted {
  background: #4a829f;
}

.menu-application-button-selected:highlighted {
  background: #4a829f;
  color: #2d2d2d;
}

.menu-application-button-label:ltr {
  padding-left: 5px;
}

.menu-application-button-label:rtl {
  padding-right: 5px;
}

/* Application hover description */
.menu-selected-app-box {
  color: #2d2d2d;
  padding-right: 30px;
  padding-left: 30px;
  text-align: right;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

/* Menu search box */
.menu-search-box {
  padding-left: 30px;
}

.menu-search-entry-icon {
  icon-size: 16px;
}

/* Right-click menu */
/* ===================================================================
   ! Hot corners icons
   ===================================================================*/
#overview-corner {
  background-image: url("widget-assets/hotcorner-icon.svg");
}

#overview-corner:hover {
  background-image: url("widget-assets/hotcorner-icon-hover.svg");
}

/* ===================================================================
   ! Hot corner ripple
   ===================================================================*/
.ripple-box {
  width: 24px;
  height: 24px;
  background-image: url("misc-assets/corner-ripple.svg");
}

/* ===================================================================
 * ! OSD
 * ===================================================================*/
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: #9e9e9e;
  background: #353a46;
}

.osd-window {
  spacing: 1em;
  padding: 16px;
  color: #9e9e9e;
  background: #353a46;
}

.osd-window StIcon {
  color: #2d2d2d;
}

.osd-window .level {
  height: 5px;
  color: #4a829f;
}

/* ===================================================================
   ! Magnifier
   ===================================================================*/
.magnifier-zoom-region {
  border: 4px red;
}

.magnifier-zoom-region.full-screen {
  border: none;
}

/* ===================================================================
 * ! Tile Previews
 * ===================================================================*/
.tile-preview, .tile-hud {
  background-color: rgba(30, 30, 30, 0.65);
}

.tile-preview.snap, .tile-hud.snap {
  background-color: rgba(74, 130, 159, 0.8);
}
