/* ===================================================================
   ! Menu applet
   ===================================================================*/

/* Favourites */
.menu-favorites-box {
    background: $bg_color;
    border: 1px solid $dark_bg_color;
}

.menu-favorites-button {
    padding: 10px 12px;

    &:hover {
		background: $selected_bg_color;
        color: $selected_fg_color;
    }
}


/* Places */
.menu-places-box {
    margin: auto;
    padding: 8px;
}

.menu-places-button {
    padding: 10px;
}


/* Categories */
.menu-categories-box {
    padding: 10px 30px;
}

.menu-category-button {
    padding: 7px;

    &-greyed {
        padding: 7px;
        color: $disabled_color;
        font-style: normal;
    }

    &-selected {
        padding: 7px;
        background: $selected_bg_color;
        color: $selected_fg_color;
    }

    &-label:ltr { padding-left: 5px; }

    &-label:rtl { padding-right: 5px; }

    &-button:hover {}
}


/* Applications */
.menu-applications-inner-box,
.menu-applications-outer-box {
    padding: 10px;
    padding-bottom: 0;
}

.menu-application-button {
    padding: 7px;
    max-width: 10px;

    &-selected {
        padding: 7px;
        background: $selected_bg_color;
        color: $selected_fg_color;
    }

    &:highlighted {
        background: $selected_bg_color;
    }

    &-selected:highlighted {
        background: $selected_bg_color;
        color: $fg_color;
    }

    &-label:ltr { padding-left: 5px; }

    &-label:rtl { padding-right: 5px; }
}


/* Application hover description */
.menu-selected-app-box {
	color: $fg_color;
    padding-right: 30px;
    padding-left: 30px;
    text-align: right;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}


/* Menu search box */
.menu-search-box {
    padding-left: 30px;
}

.menu-search-entry-icon {
    icon-size: 16px;
}

/* Right-click menu */
.menu-context-menu {}
