/* ===================================================================
   ! Panel Launchers Applet (panelLaunchers.js)
   ===================================================================*/

#panel-launchers-box {}

.panel-launcher {
    margin: 0;
    padding: 0 4px;
}

.panel-top, .panel-bottom {
    .panel-launcher:hover {
        background: $selected_bg_color;
    }
}
