/* ===================================================================
   ! User Applet
   ===================================================================*/

.user-box {
    padding: .8em 1.3em;
    spacing: 10px;
    background: $dark_bg_color;
}

.user-icon {
    width: 32px;
    height: 32px;
    background: $selected_bg_color;
    border: none;
    border-radius: 0;
}

.user-label {
    color: $selected_fg_color;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
}
