/* ===================================================================
   ! User Applet
   ===================================================================*/

.user-box {
    padding: .8em 1.3em;
    spacing: 10px;
    background: $panel-color;
}

.user-icon {
    width: 32px;
    height: 32px;
    background: $accent-color;
    border: none;
    border-radius: 0;
}

.user-label {
    color: $text-active;
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
}
