/* ===================================================================
     ! Workspace Switcher
     ===================================================================*/

#workspaceSwitcher { spacing: 0; }

.workspace-button {
	padding-left: 8px;
	padding-right: 8px;
	color: $disabled_color;
	font-weight: bold;
}

/* Different images used in top & bottom panels. */
.panel-top, .panel-bottom {
	.workspace-button:outlined {
		background: $selected_bg_color;
		color: $selected_fg_color;
	}

	.workspace-button:hover {
		background: $selected_bg_color;
		color: $fg_color;
	}

	.workspace-button:outlined:hover {
		background: $selected_bg_color;
	}
}

/* Items in the bottom panel are shifted by 1px down.
     This fixes it for this applet specifically.
     The global fix is in the panel module */
.panel-bottom .workspace-button { padding-top: 1px; }
