/******************
 * gnome terminal *
 ******************/
VteTerminal {
    background-color: @osd_base;
    color: @osd_fg;
}

TerminalWindow GtkNotebook.notebook tab {
    background: @dark_bg_color;
}

TerminalWindow GtkNotebook.notebook tab.reorderable-page {
    background-color: @dark_bg_color;
    border-left: 0;
    border-right: 0;
}
ki
TerminalWindow GtkNotebook.notebook tab.reorderable-page:hover {
    background-color: shade(@theme_bg_color, 0.7);
    border-left: 0;
    border-right: 0;
}

TerminalWindow GtkNotebook.notebook tab.reorderable-page:active {
	border-color: shade(@dark_bg_color, 1.2);
    background-color: shade(@dark_bg_color, 1.2);
    border-left: 0;
    border-right: 0;
    color: @selected_fg_color;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
    background-color: @osd_base;
}

TerminalWindow .scrollbar.button,
TerminalWindow .scrollbar.button:active,
TerminalWindow .scrollbar.button:active:hover {
    color: shade(@osd_base, 0.6);
}

TerminalWindow .scrollbar.slider {
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.21);
    background-color: mix(@osd_base, @osd_fg, 0.21);
}

TerminalWindow .scrollbar.slider:hover,
TerminalWindow .scrollbar.slider.vertical:hover {
    border-color: mix(shade(@osd_base, 0.87), @osd_fg, 0.31);
    background-color: mix(@osd_base, @osd_fg, 0.31);
}

TerminalWindow .scrollbar.slider:active,
TerminalWindow .scrollbar.slider.vertical:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

/***************
 * font-viewer *
 ***************/
SushiFontWidget {
    padding: 6px 12px;
}

/******************
 * gnome calendar *
 ******************/
.calendar-view {
    background-color: shade(@theme_base_color, 0.95);
    color: @theme_text_color;
}
