/* ===================================================================
   ! Buttons
   ===================================================================*/

/* --- normal buttons ---*/
.modal-dialog-button,
.notification-button,
.notification-icon-button {
    background: $dark_bg_color;
    padding: 9px;
    padding-right: 32px;
    padding-left: 32px;
    -st-natural-width: 80px;
    font-weight: bold;
    color: $fg_color;

    &:hover {
        background: $selected_bg_color;
    }

    &:focus {
        background: $selected_bg_color;
        color: $selected_fg_color;
    }

    &:active, &:pressed {
        background: $selected_bg_color;
    }

    &:focus:hover {
        background: $selected_bg_color;
        color: $selected_fg_color;
    }

    &:focus:active, &:focus:pressed {
        background: $selected_bg_color;
        color: $selected_fg_color;
    }

    &:disabled {
        background: $bg_color;
        color: $disabled_color;
    }
}
