// Grey text uses alpha values of white & black.
$text-primary: #2d2d2d;
$text-secondary: #9e9e9e;
$text-active: #f5f5f5;
$text-disabled: #9e9e9e;

// ------------------------------------------------------------

$panel-color: #444851;
$panel-dark-color: #353A46;
$bg-color: #f5f5f5;
$bg-dark-color: #9e9e9e;
$accent-color: #4a829f;

// ------------------------------------------------------------

// The following selectors use modified/different colors:
//  .cinnamon-link
