/* ===================================================================
   ! Font
   ===================================================================*/

$font_family: DejaVu Sans Condensed, Sans-Serif;

stage {
    font-family: $font_family;
    font-size: 9pt;
}

.cinnamon-link {
    color: $selected_bg_color;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
        color: lighten($selected_bg_color, 10%);
    }
}

.label-shadow { color: rgba(0, 0, 0, 0); }
