/* NOTES to contributors:
 * use 4 spaces indents, and keep code ALIGNED and ORDERED */

/* default */
* {
    -GtkArrow-arrow-scaling: 0.5;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 1;
    -GtkButton-interior-focus: true;
    -GtkButtonBox-child-min-height: 24;
    -GtkButtonBox-child-internal-pad-y: 1;
    -GtkCheckButton-indicator-size: 16;
    -GtkCheckMenuItem-indicator-size: 14;
    -GtkExpander-expander-size: 8;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;
    -GtkPaned-handle-size: 0;
    -GtkProgressBar-min-horizontal-bar-height: 12;
    -GtkProgressBar-min-vertical-bar-width: 12;
    -GtkRange-slider-width: 12;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
    -GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkScrollbar-min-slider-length: 80;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;
    -GtkStatusbar-shadow-type: none;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolButton-icon-spacing: 6;
    -GtkToolItemGroup-expander-size: 8;
    -GtkTreeView-expander-size: 8;
    -GtkWindow-resize-grip-height: 0;
    -GtkWindow-resize-grip-width: 0;
    -WnckTasklist-fade-overlay-rect: 0;

    /* legacy only */
    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 0;

    background-clip: padding-box;
}

@import url("widgets/base-states.css");
@import url("widgets/hyperlinks.css");
@import url("widgets/assistant.css");
@import url("widgets/button.css");
@import url("widgets/cell-row.css");
@import url("widgets/column-header.css");
@import url("widgets/content-view.css");
@import url("widgets/drawing-area.css");
@import url("widgets/gtkhtml.css");
@import url("widgets/calendar.css");
@import url("widgets/combobox-entry.css");
@import url("widgets/entry.css");
@import url("widgets/expander.css");
@import url("widgets/list-box.css");
@import url("widgets/flow-box.css");
@import url("widgets/frame.css");
@import url("widgets/scrolled-window.css");
@import url("widgets/iconview.css");
@import url("widgets/infobar.css");
@import url("widgets/symbolic-images.css");
@import url("widgets/miscellaneous.css");
@import url("widgets/menu.css");
@import url("widgets/menubar.css");
@import url("widgets/menubar-item.css");
@import url("widgets/menu-item.css");
@import url("widgets/popover.css");
@import url("widgets/notebook.css");
@import url("widgets/pane-separator.css");
@import url("widgets/progressbar.css");
@import url("widgets/levelbar.css");
@import url("widgets/scale.css");
@import url("widgets/scrollbar.css");
@import url("widgets/separator.css");
@import url("widgets/sidebar.css");
@import url("widgets/spinbutton.css");
@import url("widgets/spinner.css");
@import url("widgets/statusbar.css");
@import url("widgets/switch.css");
@import url("widgets/textview.css");
@import url("widgets/color-chooser.css");
@import url("widgets/headerbar.css");
@import url("widgets/toolbar.css");
@import url("widgets/primary-toolbar.css");
@import url("widgets/inline-toolbar.css");
@import url("widgets/linked-button.css");
@import url("widgets/tooltip.css");
@import url("widgets/treeview.css");
@import url("widgets/viewport.css");
@import url("widgets/actionbar.css");
@import url("widgets/searchbar.css");
@import url("widgets/dialog.css");
@import url("widgets/various-choosers.css");
@import url("widgets/app-notification.css");
@import url("widgets/osd.css");
@import url("widgets/destructive-action-button.css");
@import url("widgets/suggested-action-button.css");
@import url("widgets/selection-mode.css");
@import url("widgets/touch-text-selection.css");
@import url("widgets/csd.css");
@import url("widgets/overshoot.css");
