/**************
 * hyperlinks *
 **************/
* {
    -GtkHTML-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
}

*:link,
*:visited {
    color: @link_color;
}
