/***********
 * infobar *
 ***********/
GtkInfoBar {
    border-width: 0;
    border-style: none;
}

.info {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@info_bg_color, 0.8);
    background-color: @info_bg_color;
    background-image: none;
    color: @info_fg_color;
}

.info .button {
    border-top-color: shade(@info_bg_color, 0.8);
    border-right-color: shade(@info_bg_color, 0.72);
    border-left-color: shade(@info_bg_color, 0.72);
    border-bottom-color: shade(@info_bg_color, 0.7);
    background-color: shade(@info_bg_color, 1.08);
    color: @info_fg_color;
}

.info .button:hover {
    border-top-color: shade(@info_bg_color, 0.85);
    border-right-color: shade(@info_bg_color, 0.78);
    border-left-color: shade(@info_bg_color, 0.78);
    border-bottom-color: shade(@info_bg_color, 0.7);
    background-color: shade(@info_bg_color, 1.10);
}

.info .button:active,
.info .button:checked {
    border-color: shade(@info_bg_color, 0.6);
    background-color: shade(@info_bg_color, 0.95);
}

.info .button:active:hover,
.info .button:active:checked {
    border-top-color: shade(@info_bg_color, 0.85);
    border-right-color: shade(@info_bg_color, 0.78);
    border-left-color: shade(@info_bg_color, 0.78);
    border-bottom-color: shade(@info_bg_color, 0.7);
}

.info .button.close {
    color: @info_fg_color;
}

.info .button.close:hover {
    background-color: alpha(white, 0.2);
}

.info .button.close:active {
    color: @info_fg_color;
    background-color: alpha(black, 0.1);
}

.warning {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@warning_bg_color, 0.8);
    background-color: @warning_bg_color;
    background-image: none;
    color: @warning_fg_color;
}

.warning .button {
    border-top-color: shade(@warning_bg_color, 0.8);
    border-right-color: shade(@warning_bg_color, 0.72);
    border-left-color: shade(@warning_bg_color, 0.72);
    border-bottom-color: shade(@warning_bg_color, 0.7);
    background-color: shade(@warning_bg_color, 1.08);
    color: @warning_fg_color;
}

.warning .button:hover {
    border-top-color: shade(@warning_bg_color, 0.85);
    border-right-color: shade(@warning_bg_color, 0.78);
    border-left-color: shade(@warning_bg_color, 0.78);
    border-bottom-color: shade(@warning_bg_color, 0.7);
    background-color: shade(@warning_bg_color, 1.10);
}

.warning .button:active,
.warning .button:checked {
    border-color: shade(@warning_bg_color, 0.6);
    background-color: shade(@warning_bg_color, 0.95);
}

.warning .button:active:hover,
.warning .button:checked:hover {
    border-top-color: shade(@warning_bg_color, 0.85);
    border-right-color: shade(@warning_bg_color, 0.78);
    border-left-color: shade(@warning_bg_color, 0.78);
    border-bottom-color: shade(@warning_bg_color, 0.7);
}

.warning .button.close {
    color: @warning_fg_color;
}

.warning .button.close:hover {
    background-color: alpha(white, 0.2);
}

.warning .button.close:active {
    color: @warning_fg_color;
    background-color: alpha(black, 0.1);
}

.question {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@question_bg_color, 0.8);
    background-color: @question_bg_color;
    background-image: none;
    color: @question_fg_color;
}

.question .button {
    border-top-color: shade(@question_bg_color, 0.8);
    border-right-color: shade(@question_bg_color, 0.72);
    border-left-color: shade(@question_bg_color, 0.72);
    border-bottom-color: shade(@question_bg_color, 0.7);
    background-color: shade(@question_bg_color, 1.08);
    color: @question_fg_color;
}

.question .button:hover {
    border-top-color: shade(@question_bg_color, 0.85);
    border-right-color: shade(@question_bg_color, 0.78);
    border-left-color: shade(@question_bg_color, 0.78);
    border-bottom-color: shade(@question_bg_color, 0.7);
    background-color: shade(@question_bg_color, 1.10);
}

.question .button:active,
.question .button:checked {
    border-color: shade(@question_bg_color, 0.6);
    background-color: shade(@question_bg_color, 0.95);
}

.question .button:active:hover,
.question .button:checked:hover {
    border-top-color: shade(@question_bg_color, 0.85);
    border-right-color: shade(@question_bg_color, 0.78);
    border-left-color: shade(@question_bg_color, 0.78);
    border-bottom-color: shade(@question_bg_color, 0.7);
}

.question .button.close {
    color: @question_fg_color;
}

.question .button.close:hover {
    background-color: alpha(white, 0.2);
}

.question .button.close:active {
    color: @question_fg_color;
    background-color: alpha(black, 0.1);
}

.error {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@error_bg_color, 0.8);
    background-color: @error_bg_color;
    background-image: none;
    color: @error_fg_color;
}

.error .button {
    border-top-color: shade(@error_bg_color, 0.8);
    border-right-color: shade(@error_bg_color, 0.72);
    border-left-color: shade(@error_bg_color, 0.72);
    border-bottom-color: shade(@error_bg_color, 0.7);
    background-color: shade(@error_bg_color, 1.08);
    color: @error_fg_color;
}

.error .button:hover {
    border-top-color: shade(@error_bg_color, 0.85);
    border-right-color: shade(@error_bg_color, 0.78);
    border-left-color: shade(@error_bg_color, 0.78);
    border-bottom-color: shade(@error_bg_color, 0.7);
    background-color: shade(@error_bg_color, 1.10);
}

.error .button:active,
.error .button:checked {
    border-color: shade(@error_bg_color, 0.6);
    background-color: shade(@error_bg_color, 0.95);
}

.error .button:active:hover,
.error .button:checked:hover {
    border-top-color: shade(@error_bg_color, 0.85);
    border-right-color: shade(@error_bg_color, 0.78);
    border-left-color: shade(@error_bg_color, 0.78);
    border-bottom-color: shade(@error_bg_color, 0.7);
}

.error .button.close {
    color: @error_fg_color;
}

.error .button.close:hover {
    background-color: alpha(white, 0.2);
}

.error .button.close:active {
    color: @error_fg_color;
    background-color: alpha(black, 0.1);
}
