/************
 * notebook *
 ************/
.notebook {
    padding: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
    background-clip: border-box;

    -GtkNotebook-initial-gap: 0;
    -GtkNotebook-arrow-spacing: 5;
    -GtkNotebook-tab-curvature: 0;
    -GtkNotebook-tab-overlap: 1;
    -GtkNotebook-has-tab-gap: false;
}

.notebook.frame {
    border-width: 1px;
}

.notebook.header {
    border-width: 0;
    background-color: @theme_bg_color;
}

.notebook.header.frame {
    border-color: shade(@theme_bg_color, 0.7);
}

.notebook.header.frame.top {
    border-width: 1px 1px 0 1px;
}

.notebook.header.frame.right {
    border-width: 1px 1px 1px 0;
}

.notebook.header.frame.bottom {
    border-width: 0 1px 1px 1px;
}

.notebook.header.frame.left {
    border-width: 1px 0 1px 1px;
}

.notebook GtkViewport {
    border-width: 0;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.notebook tab {
    padding: 10px;
    border: 0;
    background-color: transparent;
    background-image: none;
}

.notebook tab:hover {
	background-color: shade(@theme_bg_color, 0.7);
}

.notebook tab:active {
    background-color: @theme_selected_bg_color;
}

.notebook tab GtkLabel {
    color: @theme_text_color;
}

.notebook .prelight-page,
.notebook .prelight-page GtkLabel,
.notebook .active-page,
.notebook .active-page GtkLabel {
    color: @theme_selected_fg_color;
}

.notebook tab.reorderable-page:hover {
    background-color: shade(@theme_bg_color, 0.7);
    border-left: 0;
    border-right: 0;
}

.notebook tab.reorderable-page:active {
	border-color: shade(@dark_bg_color, 1.2);
    background-color: shade(@dark_bg_color, 1.2);
    border-left: 0;
    border-right: 0;
}

/* close button styling */
.notebook tab .button,
.notebook tab .button:active,
.notebook tab .button:checked {
    padding: 1px;
    border: 0;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

.notebook tab .button:hover {
    color: @theme_text_color;
    background-color: shade(@dark_bg_color, 0.8);
}

.notebook tab .button:active,
.notebook tab .button:checked,
.notebook tab .button:active:hover,
.notebook tab .button:checked:hover {
    background-color: shade(@dark_bg_color, 0.7);
}
