/******************
 * pane separator *
 ******************/
GtkPaned {
	margin: 0 8px 8px 0;
} 

.pane-separator {
	-gtk-icon-source: none;
	
	border: 0;
    background-color: shade(@dark_bg_color, 0.8);
}
