/**********
 * switch *
 **********/
GtkSwitch {
    padding: 0;
    font: bold condensed;
    outline-offset: -4px;
}

GtkSwitch.slider {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    background-color: @theme_bg_color;
    background-image: none;
}

GtkSwitch.slider:insensitive {
    border-color: shade(@theme_bg_color, 0.6);
    background-color: shade(@theme_bg_color, 0.8);
    background-image: none;
}

GtkSwitch.trough {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    color: @theme_fg_color;
}

GtkSwitch.trough:active {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

GtkSwitch.trough:insensitive {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    color: shade(@theme_fg_color, 2.0);
}
